<style>
  h3 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  .submitBtn {
  background-color: orange; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  </style>
<div class="cluster-card" *ngIf="cluster">

    <form [formGroup]="clusterForm" class="login-container" (ngSubmit)="submitCluster()">
        <input type="name" placeholder="name*" formControlName="name"/>
        <ng-container *ngIf="!formControls.name.valid &&formControls.name.touched">
          <p *ngIf="formControls.name.errors.required">
            Name is required
          </p>
        </ng-container>
    
        <input type="text" placeholder="description*" formControlName="description" />
        
        <input type="text" placeholder="reportDate*" formControlName="reportDate" />
        <p>
          <input class="submitBtn" type="submit" value="Submit" [disabled]="clusterForm.invalid" />
        </p>
      </form>
</div>
<br>
