<style>
  h3 {text-align: center;}
  p {text-align: center;}
  div {text-align: center;}
  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  </style>
<div class="center">
    <button (click)="addCluster()" class="button style=" >New Cluster</button>
  </div>
  
  <div class="clusters">
      <!-- SELECTOR DE COURSE-CARD.COMPONENT.TS -->
      <app-cluster-card *ngFor="let cluster of clusters"
        [cluster]="cluster">
      </app-cluster-card>  
      
  </div>
  